// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif:  'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4285F4;;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red:  #DB4437;
$orange: #f6993f;
$yellow: #F4B400;
$green: #0F9D58;
$teal: #4dc0b5;
$cyan: #6cb2eb;
